$progress-bars-height: .5rem !default;
$progress-bars-radius: .25rem !default;
$progress-bars-background: #f1f1f1 !default;

$progress-bars__bar-primary: #2c2c34 !default;
$progress-bars__bar-secondary: #6B7F94 !default;
$progress-bars__bar-duration: .3s !default;
$progress-bars__bar-timing: ease-in-out !default;
