$progress-bars-height: .5rem !default;
$progress-bars-radius: .25rem !default;
$progress-bars-background: #f1f1f1 !default;

$progress-bars__bar-primary: #591497 !default;
$progress-bars__bar-secondary: #5c707e !default;
$progress-bars__bar-duration: .3s !default;
$progress-bars__bar-timing: ease-in-out !default;

.progress-bars {
  background-color: $progress-bars-background ;
  border-radius: $progress-bars-radius ;
  height: $progress-bars-height;
  overflow: hidden;
  width: 100%;

  &__bar {
    background-color: $progress-bars__bar-primary;
    height: 100%;
    transform: translateX(-100%);
    transition: transform $progress-bars__bar-duration $progress-bars__bar-timing;

    &--secondary {
      background-color: $progress-bars__bar-secondary;
    }
  }
}
